<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1"></h1>
            <h3 class="mb-5">
                <em></em>
            </h3>
            <a class="btn btn-danger btn-lg" href="/signin">
                Iniciar
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>